<div>
  <h2>Objective</h2>
  <ol>
    <li>
      In the
      <a routerLink="/assignment" routerLinkActive="active">assignment</a> page there are two buttons that, when clicked, show a tooltip above the button with some text in it.
    </li>
    <li>
      When button A is clicked, if button B’s tooltip is open it should close and vice versa - only one tooltip should be visible
      at a time.
    </li>
    <li>
      Either tooltip should close when clicked anywhere outside of it, but remain open if clicked inside.
    </li>
    <li>
      Either tooltip should close when ESC key is pressed.
    </li>
  </ol>
</div>
