<div>
  <h2>Implementation</h2>
  <p>The implementation deliberately makes the following interpretation of the requirements:
    <b>when clicking outside a tooltip, the tooltip will be closed, even if the click occurs inside the corresponding button
      again.
    </b>
  </p>
  <div class="container">
    <div class="row">
      <div class="col">
        <managed-tooltip-button name="A"></managed-tooltip-button>
      </div>
      <div class="col">
        <managed-tooltip-button name="B"></managed-tooltip-button>
      </div>
    </div>
  </div>
</div>
