<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some buttons to play with:</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <ng-template #fooTooltipTemplate>
        You clicked Foo. Click outside this tooltip to close it, even if it's in Foo again!
      </ng-template>
      <button type="button" tooltipManager [ngbTooltip]="fooTooltipTemplate" placement="top" triggers="manual" class="btn btn-primary btn-lg btn-block">
        Foo
      </button>
    </div>
    <div class="col">
      <ng-template #barTooltipTemplate>
        You clicked Bar. Click outside this tooltip to close it, even if it's in Bar again!
      </ng-template>
      <button type="button" tooltipManager [ngbTooltip]="barTooltipTemplate" placement="top" triggers="manual" class="btn btn-primary btn-lg btn-block">
        Bar
      </button>
    </div>
  </div>
</div>
