<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some buttons to play with:</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <button type="button" tooltipManager ngbTooltip="You clicked Foo!" triggers="click:blur" placement="right" class="btn btn-primary btn-lg col-2">
        Foo
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <button type="button" tooltipManager ngbTooltip="You clicked Bar!" triggers="click:blur" placement="right" class="btn btn-primary btn-lg col-2">
        Bar
      </button>
    </div>
  </div>
</div>
