<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some buttons to play with:</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <button type="button" tooltipManager ngbTooltip="Tooltip!" placement="right" triggers="manual" #fooTooltip="ngbTooltip" (click)="fooTooltip.open()"
        class="btn btn-primary btn-lg col-2">
        Foo
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <button type="button" tooltipManager ngbTooltip="Tooltip!" placement="right" triggers="manual" #barTooltip="ngbTooltip" (click)="barTooltip.open()"
        class="btn btn-primary btn-lg col-2">
        Bar
      </button>
    </div>
  </div>
</div>
